<div ng-repeat="messages in $ctrl.message" ng-class="{read : messages.read, unread : !messages.read, selected : selected}" class="row message">
    <div class="col-xs-1">
        <div class="row">
            <div class="col-xs-2">
                <input type="checkbox" ng-model="selected" />
            </div>
            <div class="col-xs-2">
                <i ng-click="$ctrl.toggleStar(messages)" ng-class="{'fa fa-star': messages.starred, 'fa fa-star-o': !messages.starred}">
                </i>
            </div>
        </div>
    </div>
    <div class="col-xs-11">
        <span class="label label-warning" ng-repeat="labels in messages.labels">{{labels}}</span>
        <a href="#">{{messages.subject}}</a>
    </div>
</div>